h1, p, button{
    text-align: center
}
.home{
    background-image: url(https://github.com/Yorch7719/Ejercicio-Mi-Casa/blob/main/House.jpg);
    margin: auto;
    padding: 20px;
}
.button{
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: rgb(239, 204, 0);
}
